body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
label{
 font-size: 24px;
 font-weight: bold;
}
.container{
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: royalblue;
}
 .search{
    background-color: orange;
    display: flex;
    padding: 20px;
 }
li{
    list-style-type: none;
}
.result{
    color: white;
    padding: 10px;
}
.name{
    background: white;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
}