body{
    margin: 0;
    color: #707070;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.125rem;
}
.container{
    background: white;
    margin: 0 auto;
    width: 50%;
    max-width: 980px;
    margin-bottom: .25rem;
}
img{
    max-width: 100%;   
}
.column{
 display: flex;

}
h1{
    font-size: 3rem;
    color: #212614;
    text-align: center;
}
h2{
    font-size: 1.5rem;
}